.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 200px;
    margin: 15px;


    position: relative;
    text-align: center;
    
}

.banner{
    display: flex;
    margin: 0 auto;
    border-width: 5px;
    width: 95%;
    height: 95%;
    background-color: white;
    align-items: center;


}

img {
    align-items: center;
    margin: 0 auto;
    width: 99%;
    height: 99%;
}



.titleBox{
    margin: 0 auto;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
}



.decBorder{
    align-items: center;
    margin: 0 auto;
    border: .25px solid lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 92%;

}


h3{
    font-family: 'acumin-pro-extra-condensed', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}












