/* .pageSpreadD {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }


.backButtonRd {
    padding: 5px;
    color: black;
    background: none;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
    margin-left: 10px;
}

 .leftSideD {
    width: 50%;
    display: table;
    table-layout: fixed;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px;
  }
 
  .rightSideD {
    width: 50%;    
  }

  .pagePhotoD {
    margin: 0 auto;
    margin-left: 15px;
  }
  


.recipeHeaderD {
    display: flex;
    width: 100%;
    height: 100%;
    background: none;
    border-bottom: 1px solid #e1e1e1;
}

.userButtons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-left: 30vw;
}

.uB {
    background-color:   transparent;
    color: black;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 11pt;
    border: none;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 0;
    font-weight: 500;
    font-style: normal;
}





.recTitleD {
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.descripT {
    margin-top: 20px;
    font-weight: 500;
    text-decoration: underline;
}


.blurb{
    line-height: 2;
    text-align: justify;
    text-justify: distribute;
}



p {
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
}


.reviewsD {
    padding-top: 2px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
}

.rTitle{
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 11pt;
    font-weight: 500;
    font-style: normal;
}




.reviewListD {
    border-top: 1px solid #e1e1e1;
}

.reviewBlockD {
    margin-top: 10px;
    background: #eff4f6;
    padding: 5px;    
}


.entryD {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formBoxD {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 110px;
    min-width: 100%;
    padding: 0;
}


textarea {
    opacity: 35%;
    height: 50%
}


.subButtonD{
    margin-top: 12px;
    min-width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    font-family: 'canada-type-gibson', sans-serif;
    font-size: 11pt;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-style: normal;
}


 */
