.homepage {
   width: 100%;
   height: 100vh;
   position: relative;
   display: flex;
}

.homepage-left {
   width: 50%;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .homepage-right {
   width: 50%;
   background-image: url("/Users/williamlong/general-assembly/unit2/projects/cookbook/client/src/assets/background.jpg");
 }

.welcome{
   display: flex;
   font-size: 1.75rem;


   font-family: 'sybarite', serif !important;
}

.yellow-block{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffd200;
   width: 80px;
   height: 6px;
}

nav{
   display: flex;
   flex-direction: row;
   width: 100%;
   font-family: 'canada-type-gibson', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
   text-decoration: none;
   font-family: 'canada-type-gibson', sans-serif;
   margin: 10px;
   font-size: 1.2rem;
   font-weight: 500;
   font-style: normal;
   color: black;
}
