.homepage {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.homepage-left {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage-right {
    width: 50%;
    background-color: #dbe2e5;
  }

 .welcome-msg{
    display: flex;
    font-size: 1.75rem;
    font-family: 'sybarite', serif;
 }

 .yellow-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd200;
    width: 80px;
    height: 6px;
 }

 .navlinks{
    font-family: 'canada-type-gibson', sans-serif;

 }

.signin-up  {
   font-family: 'canada-type-gibson', sans-serif;
   color: black;
   font-size: 1.1rem;
   font-weight: 500;
   font-style: normal;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}