.homepage {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.homepage-left {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage-right {
    width: 50%;
    background-color: #dbe2e5;
  }

 .welcome-msg{
    display: flex;
    font-size: 1.75rem;
 }

 .yellow-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd200;
    width: 80px;
    height: 8px;

 }


