.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconOne {
    
    height: 90px;
    width: 90px;
    border-radius: 1000px;
    top: 0px;
    position: absolute;
    
    
    
    animation: bounceAnimation 1s infinite;

  }

  .iconTwo{


    height: 90px;
    width: 90px;



    animation: spinEffect infinite 5s linear;
    /* option 2 */
    /* animation: spinEffect 5s infinite; */

  }


@keyframes bounceAnimation {
    50% {
    float: right;
    top: 100px;
    }
}



@keyframes spinEffect {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }